.wrapper-item{
    background: white;
    height: 104px;
    border-radius: 30px;
}
.img-check{
    width: 52px;
}
.section-1, .section-2{
    border-right: 1px solid #d2d2d2;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    text-align: center;
    height: 72px;
}
.text-section{
    padding-left: 19px;
    padding-right: 19px;
    text-align: center;
    color: #929191;
    font-size: 16px
}
.content-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-check{
    border-radius: 46px;
    display: flex;
    justify-content: center;
}

.section-3{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.text-section-2{
    display: block;
    text-align: center;
    color: #929191;
    font-size: 16px;
    margin-top: 0;
}
.content{
    bottom: 35px;
}
.img-car{
    width: 74px;
    color: gray;
}
.wrapper-check-item{
    display: flex;
    justify-content: center;
}
.img-check{
    width: 52px;
}

.item-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 34px;
    margin-bottom: 0px;
    color: #929191;
}
.btn-list{
    border: none;
    background: #ed5356;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 15px;
    border-radius: 7px;
    display: block;
}
.content-img{
    display: flex;
    width: 100%;
    height: 11px;
}
.content-img-send{
    width: 50%;
    display: block;
    position: relative;
    text-align: initial;
    top: -15px;
    left: -14px;
    transform: rotate(0deg);
}
.content-img-send>img{
    fill: #929191;
    width: 34px;
}
.content-img-arrow{
    width: 50%;
    margin-top: -30px;
    display: block;
    margin-left: -8px;
}
.content-img-arrow> svg {
    margin: 0px 0 -7px -59px;
    width: 63px;
    height: 55px;
    fill: #ecad68
}
.addItem>svg{
    width: 91px;
    height: 91px;
    fill: orange;
    position: fixed;
    top: 72%;
    right: 77px;
    cursor: pointer;
}