.icon-toggle{
    width: 26px;
}
.primary>.background{
    height: 48px;
    position: fixed;
    width: 48px;
    background: white;
    top: 81%;
    left: 88.8%;
    border-radius: 50px;
}
.primary>.background>svg{
    fill: #ee8c38;
    border-radius: 66px;
    position: relative;
    top: -16%;
    left: -17.2%;
    width: 70px;
    height: auto;
    cursor: pointer;
}
.form{
    background: #e2e2e2 !important;
}
.btn-send{
    background: #ee8c38;
    color: white;
}
.form-control:focus {
    border-color: #ee8c38 !important;
    box-shadow: 0 0 0 0.2rem rgb(238, 139, 56) !important;
}
.title-modal>.title{
    color: gray;
    padding: 12px;
    border-bottom: 3px solid #f57911;
}
