
body{
  background:#e2e2e2;
}
.menu-list{
  display: inline-flex;
  list-style: none;
  background: white;
  width: 100%;
  padding: 0;
  height: 64px;
}
.menu-item{
  width: 20%;
  justify-content: center;
  align-items: flex-end;
}
.menu-item-title{
  text-align: center;
  font-size: 15px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 700;
}
.menu-item> a{
  display: block;
  padding: 0;
  width: 100%;
  height: auto;
  color: #193948;
  height: 100%
}
.menu-item> a:active{
  background: #193948;
  color: #ffffff;
}
.menu-item:active{
  background: #193948;
  color: #ffffff;
}
.menu-main{
  list-style: none;
}
.menu-item:hover{
  background: #193948;
  color: #ffffff;
  
}
.icon-menu{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  width: 41px
}
.icon-menu:hover{
  -webkit-filter: invert(100%);
    filter: invert(100%);
}
a:hover{
  color: #ffffff;
  text-decoration: none;
}
.container-app{
  padding: 35px;
  background: #e2e2e2;
}
.menu-item>.navlink>.menu-item-title>svg{
  fill: #193948;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}
.menu-item>.navlink>.menu-item-title>svg:hover{
  fill: #ffffff;
  }
  .logo>img{
    width: 154px;
    display: block;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 44px;
  }
  .logo{
    max-width: 19%;
  }